@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

}

.container {
    max-width: 1450px;
    margin: 0 auto;


}

h1, h2, h3, h4, h5, h6 {
    color: #462E6A;
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #7D7987;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;

}



a {
    text-decoration: none;

}

.header_area {
    margin-top: 60px;
}

.logo_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    width: 200px;
    height: 30px;
    align-items: center;
}

.logo img {
    border-radius: 5px;
    width: 28px;
    height: 28px;
    margin-right: 20px;
}

.logo h1 {
    height: 148px;
    height: 30px;
    font-family: Mulish;
    color: #462E6A;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;

}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li a {
    margin-right: 40px;
    width: 545px;
    height: 23px;
    color: #1F1534;
    font-style: normal;
    font-weight: 400;
}

.bg-im {
    background-image: url(image/element.jpg);
    background-repeat: no-repeat;
    margin-top: 68px;
}


.header {
    display: flex;
}

.header_content p {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.38px;
    color: #93C1F9;
    height: 150px;
    width: 550px;
    margin: 30px 0px;
}

.header_content h1 {
    width: 652px;
    height: 138px;
    color: #3C567B;
    font-size: 48px;
    font-family: 'Mulish';
    font-weight: 700;
    line-height: 56px;
}

.header-image {
    width: 770px;
    height: 555px;
    margin-top: -50px;
    margin-left: 70px;
}

.classic-btn {
    width: 200px;
    height: 69px;
    border: 1px solid #458FF6;
    background: #458FF6;
    color: #ffffff;
    padding: 30px;
    border-radius: 55px;
    padding-top: 18px;
    padding-bottom: 19px;
    margin-left: 50px;
}

.header_text {
    margin-bottom: 200px;
}

.serv {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.services h1 {
    font-size: 45px;
    padding-bottom: 55px;
    text-decoration-line: underline;
}

.service {
    margin-bottom: 80px;
}

.services p {
    width: 950px;
    height: 54px;
    font-size: 19px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.38px;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.search img {
    width: 91px;
    height: 90px;
    padding-top: 54px;
    padding-bottom: 22px;
}


.search_doctor {
    width: 350px;
    height: 354px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 10px 40px 50px 0px whitesmoke;
    margin-bottom: 35px;
    padding: 35px;
    margin-right: 35px;
}

.search_doctor h3 {
    font-family: 'Mulish';
    font-size: 24px;
    color: #000000;
    font-weight: 700;
    line-height: 56px;
}

.search_doctor p {
    font-size: 16px;
    line-height: 28px;
    width: 266px;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: -webkit-center;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: -webkit-center;
}

.offer_service {
    margin-bottom: 190px;
}

.primary_btn .btn {
    color: #458FF6;
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    border: 1px solid;
    padding: 13px 30px;
    border-radius: 55px;
}


.lead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leading_img {
    width: 665px;
    height: 490px;

}


.healthcare {
    width: 486px;
    height: 388px;
}

.healthcare img {
    padding: 35px 0px;
}

.healthcare p {
    width: 450px;
    margin-bottom: 35px;
}

.leading_healthcare {
    margin-bottom: 100px;
}

.content {
    text-align: center;
    width: 1180px;
    height: 480px;
    border: 1px solid;
    border-radius: 24px;
    background: linear-gradient(223deg, #6888C8 0%, #5A98F2 100%);
}

.head h1 {
    padding-top: 70px;
    color: #FFF;
    font-size: 36px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.left_cont {
    display: flex;
    padding-top: 105px;
    justify-content: space-around;
    text-align: left;
}

.left_content img {
    padding-left: 137px;
}



.co p {
    display: flex;
    width: 442.529px;
    height: 137.689px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0.22px;
}

.content_area {
    margin-bottom: 200px;
}

.cont_text {
    margin-left: -205px;
}

.cont_text h2 {
    color: #FFF;
    font-size: 22px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.cont_text p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}

.footer_area {
    border: 1px solid;
    height: 415px;
    background: linear-gradient(212deg, #6888C8 0%, #5A98F2 100%);
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer_logo {
    padding: 50px;
    width: 403px;
    margin-top: 80px;
}

.footer_img {
    display: flex;
}

.footer_img img {
    width: 30px;
    height: 28px;
    border-radius: 5px;
    margin-right: 10px;
}

.footer_img h1 {
    display: flex;
    width: 174.365px;
    height: 29px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 24px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer_logo p {
    display: flex;
    width: 403.413px;
    height: 80.948px;
    flex-direction: column;
    color: #FFF;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.18px;
    margin-top: 20px;
}

.copiright p {
    color: #dddd;
    font-size: 16px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

.footer_link {
    margin-top: 105px;
}

.footer_link h1 {
    color: #FFF;
    font-size: 20px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

nav ul li a {
    color: #FFF;
    font-size: 18px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
}
